<%
@cur_html = 'class="current"'.html_safe
%>

<nav id="nav">
  <ul>
    <li <%= current_page?('/index') ? @cur_html : '' %>><a href="/index">Inicio</a></li>
    <li <%= current_page?('/acerca') ? @cur_html : '' %>><a href="/acerca">Acerca</a></li>
    <li <%= current_page?('/servicios') ? @cur_html : '' %>><a href="/servicios">Servicios</a></li>
    <li <%= current_page?('/articulos') || current_page?('/posts') ? @cur_html : '' %>><a href="/articulos">Articulos</a></li>
    <li <%= current_page?('/contacto') ? @cur_html : '' %>><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
