<h2>Acerca de</h2>


<p><strong>Greyhat</strong> surge con la visión de proveer servicios de desarrollo de aplicaciones 
y Hacking Ético,  con herramientas que permitan a nuestros clientes  dar vida a sus ideas en 
aplicaciones que puedan mantener y escalar, con la garantía de tener un producto seguro y confiable. </p>

<p>Contamos con personal certificado y gran experiencia tanto laboral como didáctica, 
lo que nos permite unificar un servicio de alto nivel en Hacking y Desarrollo así como capacitación y 
transferencia de conocimiento. </p>

<div class="flex-row vertical-center">
  <%= image_tag  "oscp-acclaim.png", style:'width:120px' %>
  <%= image_tag  "osce-acclaim.png", style:'width:120px' %>
  <%= image_tag  "oswp-acclaim.png", style:'width:120px' %>
  <%= image_tag  "oswe-acclaim.png", style:'width:120px' %>
</div>

<h2>Nosotros</h2>

<p>

  <%= image_tag "0.jpg", style:"width:140px;border-radius:5px;margin-right:20px", align:'left' %>
  <strong>Alex Barrios</strong> / <em>Fundador</em><br>
  <a href="http://linkedin.com/in/alexbariv/" target="_blank"><%=fa_icon "linkedin"%></a>
  <p>
  Profesional con más de 15 años de experiencia en distintos campos de las tecnologías de
  información, con un sólido conocimiento en Desarrollo Fullstack y certificado experto en
  seguridad informática (OSCP, OSCE, OSWP, Hardware Security, Software Security, Usable Security).
  </p>
  <p>
  Pro-activo, eficiente y eficaz en la ejecución de proyectos, con extensa experiencia trabajando
  en grupos y entornos colaborativos.
  </p>
</p>
