
<div class="flex-row">
  <div class="flex-small two-thirds ">

    <!-- Content -->

    <article>
      
      <div style="height:10px"></div>

      <%=image_tag "new_main.jpg",style:"width:100%;border-radius:5px;" %>

      <p>
      En GreyHat, proveemos proveemos <%= link_to "servicios", "/servicios" %> de desarrollo de aplicaciones 
      con un enfoque de seguridad aplicado desde la primera línea de código. Desde desarrollo y mantenimiento 
      de back-ends en JAVA o RUBY, hasta la creación e integración de componentes React, asistencia en 
      usabilidad y mejoras en UX/UI, entre otros. <br/> <br/>

      Gracias a la experiencia Full-Stack y nuestras distintas certificaciones en seguridad informática, 
      podemos analizar todo el flujo de una aplicación desde la presentación al usuario hasta la forma más
      segura y eficiente para almacenar e interactuar con los datos. <br/> <br/>
     
      Puede encontrar en la sección <%= link_to "Artículos", "/articulos" %> nuestro material audiovisual, publicaciones e 
      investigaciones recientes. 
      </p>

      <header>
        <h2>Últimos artículos</h2>
      </header>

      <% Post.order("id DESC").all.take(3).each do |post| %>

        <div class="flex-row post_list">
          <div class="flex-small one-fourth image_list">
            <% if post.image.attached? %>
              <%=image_tag url_for(post.image)%>
            <% end %>
          </div>
          <div class="flex-small">
            <strong>
              <%= link_to post.title, post %>
            </strong>

            <div style="font-size:small">
              <em><%= post.created_at.strftime("%d %b. %Y") %></em>
            </div>

          </div>
          <div style="clear:both"></div>
        </div>

     <% end %>

    </article>
  </div>
  <div class="flex-small one-third">

    <section>
      <h3>Desarrollamos en</h3>
      <p>
      <ul>
      <li>Ruby On Rails</li>
      <li>JAVA Spring Boot</li>
      <li>JAVA J2EE</li>
      <li>React</li>
      </li>
    </section>

    <section>
      <h3>Nuestros servicios</h3>
      <ul>
        <li>Desarrollo Web Full-Stack</li>
        <li>Mantenimiento Frontend y Backend</li>
        <li>Auditoría de Sistemas</li>
        <li>WhiteBox / BlackBox</li>
        <li>Pentesting y Ethical Hacking</li>
      </ul>
    </section>

    <section>
      <h3>Plataformas</h3>
      <ul>
        <li>GNU/Linux en Digital Ocean</li>
        <li>GCP / Azure / AWS / EC2</li>
      </ul>
    </section>

    <section>
      <footer>
        <%= link_to "Contáctanos", '/contacto', class: "button" %>
      </footer>
    </section>

  </div>
</div>
