<div class="container">
  <div class="section">
    <%=image_tag "new_main.jpg" %>
  </div>
  <div class="section">
      <p>
      GreyHat en un portal de investigación y desarrollo enfocado en técnologías de la información,
      crecimiento profesional y la necesidad elemental de crear un equilibro entre nuestra productividad
      laboral y nuestra vida en general.<br/> <br/>

      Los artículos acá publicados surgen de libros que he leído recientemente, o investigaciones realizadas
      en las últimas técnicas para lograr el mayor rendimiento con el menor esfuerzo. <br/> <br/>

      Puede encontrar en la sección <%= link_to "Artículos", "/articulos" %> nuestro material audiovisual, publicaciones e 
      investigaciones recientes. 
      </p>
  </div>
  <div class="section">
    <% Post.order("id DESC").all.take(3).each do |post| %>
    <div class="columns">
      <div class="column is-four-fifths">

        <% if post.image.attached? %>
          <%=image_tag url_for(post.image)%>
        <% end %>

      </div>
      <div class="column">
        
        <strong>
          <%= link_to post.title, post %>
        </strong>

        <div style="font-size:small">
          <em><%= post.created_at.strftime("%d %b. %Y") %></em>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>