<div class="flex-row">
  <div class="flex-small">

    <!-- Content -->
    <article>
      <div style="height:10px"></div>

      <%=image_tag "new_main.jpg",style:"width:100%;border-radius:5px;" %>

      <header>
        <h2>Bienvenido a Greyhat</h2>
      </header>

      <div style="padding:0 20px 0 20px">
        <div>
          <p><strong>Tu destino para explorar la convergencia entre Tecnología y Vida</strong></p>
          <p>En Greyhat, nos sumergimos en el mundo de la tecnología no solo como usuarios, sino como
          pensadores críticos y exploradores conscientes. Aquí, encontrarás reflexiones sobre cómo la
          tecnología afecta nuestro día a día, consejos para una vida digital equilibrada, y perspectivas
          únicas sobre las últimas tendencias. Únete a nosotros en esta aventura para
          descubrir cómo la tecnología puede enriquecer nuestras vidas sin dominarlas.</p>

          <p>Puedes encontrar en la sección <%= link_to "Artículos", "/articulos" %> nuestro material
            audiovisual, publicaciones e investigaciones recientes.</p>

          <p><strong>Explora, Reflexiona, Conéctate.</strong></p>
        </div>
      </div>

      <header>
        <h2>Últimos artículos</h2>
      </header>

      <% Post.order("id DESC").all.take(3).each do |post| %>

        <div class="flex-row post_list">
          <div class="flex-small one-fourth image_list">
            <% if post.image.attached? %>
              <%=image_tag url_for(post.image)%>
            <% end %>
          </div>
          <div class="flex-small">
            <strong>
              <%= link_to post.title, post %>
            </strong>

            <div style="font-size:small">
              <em><%= post.created_at.strftime("%d %b. %Y") %></em>
            </div>

          </div>
          <div style="clear:both"></div>
        </div>

     <% end %>

    </article>
  </div>
</div>
