<%= form_with(model: contact, local: true) do |form| %>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2>Por favor corrija los siguiente <%= pluralize(contact.errors.count, "error") %> errores:</h2>
      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, "E-mail" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :menssage, "Mensaje" %>
    <%= form.text_area :message %>

  </div>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>

<% end %>
