
<h2>Artículos</h2>

<% @posts.each do |post| %>

<div class="flex-row">
  <div class="flex-small one-third image_list">
    <% if post.image.attached? %>
    <%=image_tag url_for(post.image)%>
    <% end %>
  </div>
  <div class="flex-small">
    <strong>
      <%= link_to post.title, post %>
    </strong>

    <div style="font-size:small">
      <em><%= post.created_at.strftime("%d %b. %Y") %></em>
    </div>

    <div>
      <%= post.body.at(0..200) %> ... [<%= link_to ' Leer ', post %>]
    </div>

  </div>
</div>

<% end %>
