<% content_for :head do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= @post.body.to_plain_text.truncate(200) %>" />
  <meta property="og:image" content="<%= polymorphic_url(@post.image, :only_path => false) if @post.image.attached? %>" />
<% end %>

<p id="notice"><%= notice %></p>

<div class="medium-container">

  <article>

    <% if user_signed_in? %>
      Unique visitors: <%= @post.unique_visits %>
    <% end %>

    <% if @post.image.attached? %>
      <div id="image_post"><%= image_tag @post.image, class: "image_post", style: "border-radius:5px;" %></div>
    <% end %>

    <header>
      <h2><%= @post.title %></h2>
      <p><%= @post.created_at.strftime("%d %b. %Y") %> |
        Lectura de <%= (@post.body.to_plain_text.split.size/200)+1 %> minutos | <%= link_to "Volver", "/articulos"%>
      </p>
    </header>

    <div class="medium-container">
      <%= @post.body %>
    </div>
    <hr>

    <div class="medium-container">
      <h3>Acerca del Autor</h3>
      <%= image_tag "0.jpg", style: "width:120px;border-radius:5px;margin-right:20px", align:'left' %>

      <strong><a href="http://linkedin.com/in/alexertech/" target="_blank">Alex Barrios</a></strong>
      <br>
      <p style="font-size:14px">
        Cuenta con más de 20 años de experiencia en distintos campos de las tecnologías de información.
        Con un sólido conocimiento en Desarrollo de Software y certificado experto en Seguridad Informática.
        Estudia budismo y meditación, y es un apasionado de la tecnología y la vida.
      </p>
      <br>

    </div>

    <hr>

    <h2>También te puede interesar</h2>

     <% Post.order("RANDOM()").where.not(id: @post.id).all.take(3).each do |post| %>

      <div class="flex-row post_list">
        <div class="flex-small one-fourth image_list">
          <% if post.image.attached? %>
            <%=image_tag url_for(post.image)%>
          <% end %>
        </div>
        <div class="flex-small">
          <strong>
            <%= link_to post.title, post %>
          </strong>

          <div style="font-size:small">
            <em><%= post.created_at.strftime("%d %b. %Y") %></em>
          </div>

        </div>
        <div style="clear:both"></div>
      </div>

   <% end %>

  </article>

</div>
