<p id="notice"><%= notice %></p>

<div class="medium-container">

  <article>
    <% if @post.image.attached? %>
    <div id="image_post"><%=image_tag url_for(@post.image), class:"image_post" %></div>
    <% end %>

    <header>
      <h2><%= @post.title %></h2>
      <p><%= @post.created_at.strftime("%d %b. %Y") %> | Lectura de <%= (@post.body.scan(/\w+/).size/200)+1 %> minutos | <%= link_to "Volver", "/articulos"%></p>
    </header>



    <div class="medium-container">
      <%= markdown(@post.body) %>
    </div>
    
    <hr>
    
    <div class="medium-container">
      <h3>Acerca del Autor</h3>
      <%= image_tag "avatar.jpg", style:"width:96px;border-radius:5px;margin-right:20px", align:'left' %>
      <a href="http://linkedin.com/in/alexbariv/" target="_blank"><strong>Alex Barrios</strong></a><br>
      <p style="font-size:14px">
      Cuenta con más de 15 años de experiencia en distintos campos de las tecnologías de información, 
      ejerciendo principalmente como desarrollador fullstack, administrador de sistemas y asesor de seguridad informática certificado
      (OSCP, OSCE, OSWP, Hardware Security, Software Security, Usable Security). </p>
    </div>

    <hr>

    <h2>También te puede interesar</h2>

     <% Post.order("RANDOM()").where.not(id: @post.id).all.take(3).each do |post| %>

      <div class="flex-row post_list">
        <div class="flex-small one-fourth image_list">
          <% if post.image.attached? %>
            <%=image_tag url_for(post.image)%>
          <% end %>
        </div>
        <div class="flex-small">
          <strong>
            <%= link_to post.title, post %>
          </strong>

          <div style="font-size:small">
            <em><%= post.created_at.strftime("%d %b. %Y") %></em>
          </div>

        </div>
        <div style="clear:both"></div>
      </div>

   <% end %>



  </article>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@greyhat_se">
  <meta name="twitter:creator" content="@greyhat_se">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= @post.body.at(0..200) %>">
  <% if @post.image.attached? %>
  <meta name="twitter:image" content="https://greyhat.cl<%=url_for(@post.image)%>">
  <% end %>

</div>
