<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Greyhat Security - The Real Ethical Hacking</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>

	<section class="section">
		<div class="column is-three-fifths is-offset-one-fifth">
			<div class="container image">
				<div class="column is-three-fifths is-offset-one-fifth">
					<%= image_tag "logo_white.png" %>
				</div>
			</div>
			
			<%= render 'partials/navigation' %>

			<div class="container has-text-dark has-background-light m-0">
				<%= yield %>
			</div>

			<div class="container has-text-light has-background-dark has-text-centered p-4">
				Greyhat Security&nbsp;&nbsp;<%=fa_icon "copyright"%>&nbsp;&nbsp;All rights reserved
			</div>
		</div>
	</section>



	<!-- 
	<div class="flex-row vertical-center">
		<a href="https://www.twitter.com/greyhat_se" target="_blank" class="icon_large">
			<%=fa_icon "twitter"%>
		</a>
		
		<a href="https://www.linkedin.com/company/greyhat-se/" target="_blank" class="icon_large">
			<%=fa_icon "linkedin"%>
		</a>

		<a href="https://www.youtube.com/channel/UC6UyHXoDUuv3RDjCkm_Cwaw" target="_blank" class="icon_large">
			<%=fa_icon "youtube"%>
		</a>
	</div>
	-->

</body>

</html>