<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Greyhat Security - The Real Ethical Hacking</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_pack_tag 'application' %>
</head>

<body>
	<div class="medium-container">

		<%= render 'partials/navigation' %>

		<div class="vertical-center">
			<div><%= image_tag  "logo_full_orig.png", style:"width:300px;margin:0" %></div>
		</div>	

		<%= yield %>

		<div class="vertical-center">

			<!-- Icons -->
			<ul class="icons">
				<li><a href="https://www.twitter.com/greyhat_se" class="icon brands fa-twitter"  target="_blank"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.linkedin.com/company/greyhat-se/" class="icon brands fa-linkedin-in"  target="_blank"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://www.youtube.com/channel/UC6UyHXoDUuv3RDjCkm_Cwaw" class="icon brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>

			</ul>

			<!-- Copyright -->
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Greyhat Security - All rights reserved</li><li>Powered by: <a href="https://taniarascia.github.io/primitive/">Primitive</a></li>
				</ul>
			</div>

		</div>	
	</div>

</body>

</html>