<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Greyhat - Explorando el Equilibrio entre la Tecnología y la Vida">

	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<% if content_for?(:head) %>
		<%= yield(:head) %>
	<% else %>
		<title>Greyhat - Explorando el Equilibrio entre la Tecnología y la Vida</title>
	<% end %>
	<!-- Preconnect to Google Fonts to improve loading performance -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Rubik:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_importmap_tags %>
</head>

<body>

<div id="main_body" class="container-sm py-4 mx-auto" style="max-width: 900px;">
	<div id="header" class="d-flex justify-content-center align-items-center logo">
		<div><%= image_tag "logo.png", class: "img-fluid" %></div>
	</div>
	
	<%= render 'partials/navigation' %>

	<div id="main">
		<%= yield %>
	</div>

	<div id="footer">
		<div class="d-flex justify-content-center align-items-center copyfoot py-2">
			Greyhat &nbsp;&nbsp;<i class="fa-solid fa-copyright"></i>&nbsp;&nbsp;All rights reserved
		</div>
	</div>

</div>

</body>

</html>
