<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<% if content_for?(:head) %>
		<%= yield(:head) %>
	<% else %>
		<title>Greyhat - Explorando el Equilibrio entre la Tecnología y la Vida</title>
	<% end %>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	<%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>

<div id="main_body" class="small-container">
	<div id="header" class="vertical-center logo">
		<div><%= image_tag  "logo.png"%></div>
	</div>
	
	<%= render 'partials/navigation' %>

	<div id="main">
		<%= yield %>
	</div>

	<div id="footer">
		<div class="vertical-center copyfoot">
			Greyhat &nbsp;&nbsp;<%=fa_icon "copyright"%>&nbsp;&nbsp;All rights reserved
		</div>
	</div>

</div>

</body>

</html>
